:root {
  --border-radius: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --footer-height: 40px;
  --btn-height: 50px;
  --popup-height: 300px;
  --checkbox-size: 20px;
  --fn-btn-width: 110px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* GLOBAL */
@font-face {
  font-family: "Cute Font";
  src: url("../assets/fonts/CuteFont-Regular.ttf");
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url("../assets/images/placeholder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  background-color: rgba(var(--nostalgic-yellow), 0.8);
  box-shadow: var(--shadow);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--container-width);
  padding: var(--spacing-lg);
}

.header-title {
  font-family: "Cute Font", sans-serif;
  color: rgba(var(--yinmn-blue), 1);
  font-size: 1.5rem;
}

/* MAIN */
.main {
  font-family: "Cute Font", sans-serif;
  font-size: 1.1rem;
  color: rgba(var(--dark-black), 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  background-color: rgba(var(--yello-range), 0.8);
}

/* FOOTER */
.footer {
  padding-bottom: var(--spacing-xs);
  height: var(--footer-height);
  background-color: transparent;
  font-family: "Cute Font", sans-serif;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  grid-row: 3 / 4;
}

.fa-github {
  font-size: 20px;
  margin-top: 4px;
  color: black;
  transition: transform 0.3s ease-in-out;
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(278deg) brightness(113%) contrast(108%);
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */
