:root {
  --primary-color: #f9d342; /* yellow */
  --secondary-color: #ff7c60; /* orange-red */
  --tertiary-color: #7cff6a; /* green */
  --accent-color: #6a7cff; /* blue */
  --background-color: 25, 25, 25; /* black */
  --foreground-color: #ffffff; /* white */
  --text-color: #d1d1d1; /* light gray */
  --link-color: #ff7c60; /* same as secondary-color */
  --hover-color: #7cff6a; /* same as tertiary-color */
  --transparent: transparent;
  --border-radius: 0px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --footer-height: 30px;
  --btn-width: 100px;
  --search-bar-height: 44px;
  --forecast-height: 250px;
  --nav-dot-size: 10px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --border: 2px solid var(--hover-color);
  --sm-breakpoint: 768px;
  --forecast-height-sm: 550px;
}

/* GLOBAL */
@font-face {
  font-family: "Cute Font";
  src: url("../assets/fonts/CuteFont-Regular.ttf");
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: "Cute Font", sans-serif;
  font-size: 2.5rem;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  color: var(--text-color);
}

.wideScreenWrapper {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr auto;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.sweepToRight {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms;
  color: var(--text-color);
}

.sweepToRight:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--hover-color);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.sweepToRight:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.frostedGlass {
  background: rgba(var(--background-color), 0.6);
  backdrop-filter: saturate(180%) blur(10px);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .frostedGlass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

/* WEATHER INFO */
.weatherInfo {
  padding: var(--spacing-lg);
}

.weatherInfo-temperature {
  font-size: 3rem;
  font-weight: 700;
  color: var(--tertiary-color);
}

.weatherInfo-unitChangeBtn {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: var(--transparent);
  color: var(--text-color);
  width: var(--btn-width);
  border: var(--border);
  padding: var(--spacing-xs) var(--spacing-sm);
  outline: none;
  cursor: pointer;
}

.weatherInfo-unitChangeBtn:hover {
  color: rgba(var(--background-color), 1);
}

.weatherInfo-icon {
  display: block;
}

/* SEARCH BOX */
.searchBox {
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

.searchBox-form {
  height: var(--search-bar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: var(--transparent);
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
}

.searchBox-icon:hover {
  color: var(--hover-color);
}

.searchBox-icon.size-20 {
  font-size: 20px;
  font-variation-settings: "OPSZ" 20;
}

.searchBox-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: var(--transparent);
  color: var(--text-color);
}

.searchBox-error {
  display: none;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.searchBox-error.active {
  display: block;
}

/* WEATHER DETAILS */
.weatherDetails {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
}

.weatherDetails-item {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: var(--spacing-sm);
}

.weatherDetails-icon {
  grid-row: 1 / -1;
  margin-top: 3px;
}

.weatherDetails-icon.size-20 {
  font-size: 20px;
  font-variation-settings: "OPSZ" 20;
}

.weatherDetails-value {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--tertiary-color);
}

/* FORECAST */
.forecast {
  grid-column: 1 / -1;
  height: var(--forecast-height);
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-btnWrapper {
  width: 100%;
}

.forecast-btn {
  display: none;
}

.forecast-label {
  display: inline-block;
  width: var(--btn-width);
  font-size: 1.5rem;
  text-align: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  border: var(--border);
  margin-right: var(--spacing-sm);
  cursor: pointer;
  background-color: var(--transparent);
}

.forecast-label:hover {
  color: rgba(var(--background-color), 1);
}

.forecast-btn:checked + .forecast-label {
  color: rgba(var(--background-color), 1);
  background-color: var(--hover-color);
}

.forecast-daily {
  display: none;
  grid-template-columns: repeat(7, 1fr);
}

.forecast-daily.active {
  display: grid;
}

.forecast-daily-item-date {
  font-size: 2rem;
}

.forecast-daily-item-tempHi {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.forecast-daily-item-tempLo {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--accent-color);
}

.forecast-hourly {
  display: none;
  grid-template-columns: repeat(8, 1fr);
}

.forecast-hourly.active {
  display: grid;
}

.forecast-hourly-item {
  display: none;
}

.forecast-hourly-item.active {
  display: block;
}

.forecast-hourly-item-time {
  font-size: 2rem;
}

.forecast-hourly-item-temp {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.forecast-navigationDots {
  width: 100%;
  height: var(--nav-dot-size);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}

.forecast-navigationDotBtn {
  display: none;
}

.forecast-navigationDotLabel {
  border-radius: 50%;
  width: var(--nav-dot-size);
  height: var(--nav-dot-size);
  border: var(--border);
  cursor: pointer;
  background-color: var(--transparent);
}

.forecast-navigationDotBtn:checked + .forecast-navigationDotLabel {
  background-color: var(--hover-color);
}

/* FOOTER */
.footer {
  height: var(--footer-height);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 100%;
  grid-row: 3 / 4;
}

.fa-github {
  font-size: 18px;
  margin-top: 4px;
  transition: transform 0.3s ease-in-out;
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(278deg)
    brightness(113%) contrast(108%);
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */
/* for screens smaller than 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 1.5rem;
  }
  .wideScreenWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .weatherInfo-unitChangeBtn {
    font-size: 1rem;
  }
  .weatherInfo-temperature {
    font-size: 1.5rem;
  }
  .searchBox-input {
    font-size: 1.5rem;
  }
  .weatherDetails {
    font-size: 1rem;
  }
  .weatherDetails-value {
    font-size: 1.5rem;
  }
  .forecast {
    height: var(--forecast-height-sm);
  }
  .forecast-label {
    font-size: 1rem;
  }
  .forecast-daily {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: reapeat(4, 1fr);
  }
  .forecast-hourly {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: reapeat(4, 1fr);
  }
  .forecast-daily-item-date {
    font-size: 1.5rem;
  }
  .forecast-daily-item-tempHi {
    font-size: 1rem;
  }
  .forecast-daily-item-tempLo {
    font-size: 0.9rem;
  }
  .forecast-hourly-item-time {
    font-size: 1.5rem;
  }
  .forecast-hourly-item-temp {
    font-size: 1rem;
  }
}
